body {
  height: 150vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 10fr 13fr 10fr 7fr 1fr;
  grid-template-areas: "a" "b" "c" "d" "e" "f";
  background-color: #1f2937;
}

/* nav */
nav {
  grid-area: a;
  display: inline-flex;
  padding-left: 150px;
  padding-right: 150px;
  height: 5%;
  background-color: #1f2937;
  color: white;
}

ul {
  list-style: none;
  display: flex;
  align-items: flex-end;
  gap: 10px; /* Certain gap between links, but not words necessarily */
}

/* header */
header {
  flex-direction: row;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid white; */
  grid-area: b;
  background-color: #1f2937;
  color: white;
  padding-left: 150px;
  padding-right: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  gap: 50px;
}

.website-desc {
  margin-top: -27px;
}

img {
  overflow: hidden;
  height: 175px;
  width: 400px;
}

/* main */
main {
  grid-area: c;
  background-color: white;
  padding-left: 150px;
  padding-right: 150px;
}

.photo-collection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 60%;
  gap: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.gridItem {
  width: 150px;
}

.gridItem img {
  height: 150px;
  width: 150px;
  border-radius: 10%;
  border: 2px solid #3882f6;
}

.image-desc {
  margin-top: -10px;
  color: grey;
  text-align: center;
  font-size: 13px;
}

button {
  background-color: #3882f6;
  color: white;
  padding: 3px 10px 3px 10px;
  border-radius: 7%;
  box-shadow: none;
}

/* saying */
.saying {
  grid-area: d;
  background-color: pink;
  padding-left: 150px;
  padding-right: 150px;
}

/* action-call */
.action-call {
  position: relative;
  grid-area: d;
  background-color: white;
  padding-left: 150px;
  padding-right: 150px;
  border: 1px solid red;
}

.box {
  position: absolute;
  width: 60%;
  height: 30%;
  background-color: #3882f6;
  border-radius: 10px;
  place-self: inherit;
  margin: 100px 150px 100px 150px;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.action-text {
  color: white;
  padding-left: 100px;
}

h4 {
  color: white;
  margin-top: 15px;
  padding-top: 10px;
}

p {
  margin-top: -17px;
}

.box button {
  width: 100px;
  border: 1px solid white;
  margin: 35px;
  margin-right: 80px;
  border-radius: 6px;
}

/* footer */
.footer {
  grid-area: e;
  background-color: #1f2937;
}

.footer-text {
  color: white;
  text-align: center;
  margin-top: 50px;
}
